In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("soc-sign-bitcoinotc.csv", header=None)
n = max(max(df[0]), max(df[1]))
A = np.zeros([n,n], dtype=int)
for index, row in df.iterrows():
    if int(row[2]) > 0:
        A[int(row[0])-1, int(row[1])-1] = int(row[2])
A

array([[0, 8, 6, ..., 0, 0, 0],
       [8, 0, 8, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [92]:
synthetic = pd.read_csv("synthetic.csv")
budget = synthetic["Budget"]
synthetic["Value"] = synthetic["Total Influencing"]/synthetic["Budget"]

In [93]:
threshold = synthetic["Threshold"]

In [94]:
synthetic

,Node,Influenced,Influencing,Total Influenced,Total Influencing,Threshold,Budget,Reach 1,Reach 2,Reach 3,Reach 4,Reach 5,Value
0,0,206,226,508,801,101.6,228000,227,2651,4418,4609,4644,0.003513
1,1,43,40,154,125,30.8,42000,41,864,3593,4539,4625,0.002976
2,2,0,12,0,57,1.0,14000,13,475,3160,4495,4624,0.004071
3,3,60,54,203,168,40.6,56000,55,1208,3976,4560,4631,0.003000
4,4,3,3,7,7,1.4,5000,4,392,2947,4465,4621,0.001400
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6000,6000,0,0,0,0,1.0,2000,1,1,1,1,1,0.000000
6001,6001,0,1,0,1,1.0,3000,2,2,2,2,2,0.000333
6002,6002,0,1,0,1,1.0,3000,2,6,137,1863,4174,0.000333
6003,6003,0,1,0,1,1.0,3000,2,537,2424,4375,4609,0.000333
6004,6004,0,1,0,1,1.0,3000,2,537,2424,4375,4609,0.000333

In [95]:
selected = set()
budget = 1000000
seedCount = 5
i = 0
synthetic = synthetic.sort_values(by="Value", ascending=False, ignore_index=True)
while budget and i < n:
    if budget > synthetic.at[i, "Budget"]:
        selected.add(synthetic.at[i, "Node"])
        print(i, synthetic.at[i, "Node"])
        budget -= synthetic.at[i, "Budget"]
    i += 1
selected

0 3551
1 2682
2 3755
3 5728
4 3756
5 3743
6 2671
7 2573
8 2567
9 2376
10 1668
11 2683
12 3758
13 5236
14 2699
15 2679
16 4822
17 3292
18 2961
19 2681
20 2670
21 2566
22 2304
23 24
24 2628
25 2547
26 3995
27 9
28 3376
29 2622
30 2016
31 4392
32 5617
33 1190
34 2630
35 4660
36 2
37 2632
38 5622
39 1139
40 1436
41 2570
42 5761
43 2669
44 622
45 1200
46 1742
47 3860
48 3561
49 222
50 2627
51 5618
52 1838
53 2497
54 1689
55 958
56 4665
57 4987
58 5762
59 1362
60 499
61 0
62 1083
63 3973
64 424
65 5589
66 5383
67 1184
68 2039
69 7
70 2569
71 4355
72 759
73 2117
74 4668
75 5031
76 3759
77 3887
78 528
79 3974
80 4260
81 5521
82 4256

{0,
 2,
 7,
 9,
 24,
 222,
 424,
 499,
 528,
 622,
 759,
 958,
 1083,
 1139,
 1184,
 1190,
 1200,
 1362,
 1436,
 1668,
 1689,
 1742,
 1838,
 2016,
 2039,
 2117,
 2304,
 2376,
 2497,
 2547,
 2566,
 2567,
 2569,
 2570,
 2573,
 2622,
 2627,
 2628,
 2630,
 2632,
 2669,
 2670,
 2671,
 2679,
 2681,
 2682,
 2683,
 2699,
 2961,
 3292,
 3376,
 3551,
 3561,
 3743,
 3755,
 3756,
 3758,
 3759,
 3860,
 3887,
 3973,
 3974,
 3995,
 4256,
 4260,
 4355,
 4392,
 4660,
 4665,
 4668,
 4822,
 4987,
 5031,
 5236,
 5383,
 5521,
 5589,
 5617,
 5618,
 5622,
 5728,
 5761,
 5762}

In [96]:
synthetic[synthetic["Node"].isin(list(selected))]

,Node,Influenced,Influencing,Total Influenced,Total Influencing,Threshold,Budget,Reach 1,Reach 2,Reach 3,Reach 4,Reach 5,Value
0,3551,0,14,0,115,1.0,16000,15,15,15,15,15,0.007188
1,2682,4,4,27,40,5.4,6000,5,35,741,3515,4518,0.006667
2,3755,6,4,60,40,12.0,6000,5,8,18,775,3360,0.006667
3,5728,3,4,7,40,1.4,6000,5,6,16,138,2466,0.006667
4,3756,4,4,40,40,8.0,6000,5,8,18,775,3360,0.006667
...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,528,1,1,10,10,2.0,3000,2,4,73,1194,4016,0.003333
79,3974,0,1,0,10,1.0,3000,2,11,285,2964,4425,0.003333
80,4260,1,1,10,10,2.0,3000,2,28,566,3404,4499,0.003333
81,5521,1,1,10,10,2.0,3000,2,3,11,1192,3580,0.003333
82,4256,1,1,10,10,2.0,3000,2,20,453,3319,4466,0.003333

In [97]:
T = 2
count = 0
x = np.zeros([n,n], dtype=int)
for node in selected:
    x[:,node] = A[:, node]
    count += 1
for t in range(2,T):
    for i in range(n):
        if sum(x[i,:]) >= threshold[i]:
            x[:, i] = A[:, i]
            count += 1

In [98]:
count

83